.element {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
}
label {
  width: 150px;
}
input {
  border-radius: 10px;
  padding: 5px 10px;
}
input:focus {
  border: 2px solid black;
}
