.printButton {
  background-color: blueviolet;
}
.DinA4 {
  width: 830px;
  padding: 15px 45px;
  background-color: white;
  font-family: anuphan, Arial, Helvetica, sans-serif;
}
.border {
  background-color: black;
  padding: 3px;
}
.output {
  display: flex;
  align-items: center;
  gap: 20px;
}
.element {
  margin: 14px 0;
}
.secondHeader {
  padding-top: 20px;
  border-top: 3px solid black;
  color: black;
}
